#mainNav img {
  height: 2rem;
}
.nav-link.active{
  color:$primary !important;
}
@media screen and (min-width: 992px) {
  #mainNav {
    background-color: transparent !important;
  }
  #mainNav.nav_scrolled {
    background-color: white !important;
  }
}
